<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hello Electron React!</title>
  </head>
  <body>
    <div id="root"></div>
  </body>
  <script>
    window.electron.ipcRenderer.once('ipc-example', (arg) => {
      // eslint-disable-next-line no-console
      console.log('desde index aqui',arg);
    });

    window.electron.ipcRenderer.myPing();
    // window.electron.ipcRenderer.once('filter-json-evaluations', (dato) => {
    //   // eslint-disable-next-line no-console
    //   console.log('filter-json-evaluations',dato);
    // });
    //window.electron.ipcRenderer.read_json_ipc();
    //window.electron.ipcRenderer.filter_json_ipc(3);
    // window.electron.ipcRenderer.on('send-json-evaluations', (arg) => {
    //   // eslint-disable-next-line no-console
    //   console.dir(arg);
    // });    
    //una vez que tengo los datos debo pasarlos al react state y listo el pollo
    //import { useSelector } from 'react-redux'
    // const obtenerDatos = useSelector(store => store.evaluations.getData);
    // console.log('obtener datos desde archivo extraño',obtenerDatos)
    // if( obtenerDatos === true ){
    // }
    // 
  </script>
</html>
